# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/

# =========================
# Django
# =========================
*.log
db.sqlite3

# User uploaded files
media/
profile_pics/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Cache
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# ML Experiment Tracking
# =========================
mlruns/
wandb/